
<section class="hero has-background-danger-light">
  <div class="hero-body">
    <p class="title">Kendra's Tech Korner</p>
    <nav class="navbar" role="navigation" aria-label="main navigation">
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>
    <a class="navbar-item">
        Dashboard
      </a>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-danger">
            <strong>Log In</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
  </div>
</nav>
  </div>
</section>
<section class="section is-medium">
  <h1 class="title">See Blog Posts</h1>
  <div class="column">
  <div class="column is-four-fifths has-background-danger-light">
    <h1 class="has-text-grey">Title{{title}}</h1>
    <h2 class="has-text-grey">Posted by {{username}} on this date</h2>
    </div>
  </div>
  <div class="column">
  <div class="column is-four-fifths has-background-danger-light">
  <h1 class="has-text-grey">Title{{title}}</h1>
    <h2 class="has-text-grey">Posted by {{username}} on this date</h2>
  </div>
  </div>
  <div class="column">
  <div class="column is-four-fifths has-background-danger-light">
  <h1 class="has-text-grey">Title{{title}}</h1>
    <h2 class="has-text-grey">Posted by {{username}} on this date</h2>
  </div>
  </div>
</section>
