 <div class ="card" data-postId= "{{post.id}}">
   <div class="card-header">
        <p class ="card-header-title"> {{title}}</p> 
        <p class="card-header-subtitle">Posted by {{users.username}} on {{format_date createdAt}} </p>
    </div>
    <div class ="card-content is-strong">
        {{post_text}}
    </div>
</div>
